.search-panel {
    display: inline-flex;
    width: 100%;
    background-color: whitesmoke;
    padding: 1vh;
    border-bottom: #C4C4C4 1px solid;
    align-items: center;
}

.logo {
    position: absolute;
    top: 0;
    right: 0;
    height: 5vh;
    margin-top: 1vh;
    margin-right: 1vw;
}